.main {
    background-color: #38404b;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
}

.todo {
    width: 80%;
    max-width: 1000px;
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
